//
//  Distribution.xcconfig
//  Store
//
//  Created by Andrew Wang on 3/1/13.
//

// Production app keys.
// Please enter Parse App ID, Parse Client key, and Stripe's live publishable key.
// We recommend that you use a different Parse app for production than test.

PARSE_APPLICATION_ID = YLU4wEnQFP7S736XUSYOXu6GXeYzXLqrvFd4FeVL
PARSE_CLIENT_KEY = bfUQYpwVEBDTPnMGigNOGvAmVzw1rojCguwElKkI
STRIPE_PUBLISHABLE_KEY = pk_test_4PsUA83jrUomfIAJgxY8yPCG
